body{
  font-family: 'Rajdhani', sans-serif;
  background-color: #141414;
  color: #fff;
}

/* DEBUG */
.debug .search-result{
  background: red;
}

/* HEADER */
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 10px;
}

header .left .logo{
  width: 100px;
}

header .right{
  margin: 0 10px;
}

header .right .search{
  padding: 5px;
}

header .right .search input{
  outline: none;
  background-color: #141414;
  color: #fff;
  border: none;
  padding: 5px;
  display: none;
}

header .right .search.active{
  border: 1px solid #fff;
}

header .right .search.active input{
  display: inline-block;
}


/* MAIN */
main .search-result{
  height: calc(100vh - 61px);
  overflow-y: auto;

}

main .search-result .container h1{
  margin: 10px;
}

main .search-result .container .movies,
main .search-result .container .tv-shows{
  display: flex;
  flex-wrap: wrap;

  padding: 10px 0;
}

main .search-result .card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: calc(100% / 5 - 20px);
  padding: 5px;
  margin: 10px;
  text-align: center;
  height: 250px;
  position: relative;
  background-position: center;
  background-size: cover;
}

main .search-result .card .poster{
  height: 50%;
}

main .search-result .card .info{
  display: none;
}

main .search-result .card .info .flag{
  position: absolute;
  bottom: 0;
  right: 2px;
  width: 20px;
  border-radius: 50px;
}

main .search-result .card .info .star{
  display: flex;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 2px;
}

main .search-result .card .info .star .full{
  color: #000;
}
